extends layout

block content
  for listing in listings
    .col-sm-6.col-md-4
      .property-box
        .property-box-image
          a(href='#')
            img(src='/img/example.jpg')
            span.property-box-excerpt=listing.description
        .property-box-content
          .property-box-meta
            .property-box-meta-item
              span Bathrooms
              strong=listing.bathrooms
            // /.property-box-meta-item
            .property-box-meta-item
              span Bedrooms
              strong=listing.bedrooms
            // /.property-box-meta-item
            .property-box-meta-item
              span Garages
              strong=listing.garages
            // /.property-box-meta-item
          // /.property-box-meta
        // /.property-box-content
        .property-box-bottom
          .property-box-price=listing.rent
          // /.property-box-price
          a.property-box-view(href='#')
            | View Detail
          // /.property-box-view
        // /.property-box-bottom
      // /.property-box


          

  
