extends layout

block content
  .sidebar.col-sm-4.col-md-3
    .widget
      .widget-title
        h2 Filter Properties
      // /.widget-title
      .widget-content
        form(method='get', action='/listings/')
            
          .row
            .form-group.col-sm-6
              label Bedrooms
              if filter.bedrooms
                input#vertical_filter_widget-2_price_from.form-control(type='text', name='bedrooms', value='#{filter.bedrooms}')
              else
                input#vertical_filter_widget-2_price_from.form-control(type='text', name='bedrooms', value='')
                
            .form-group.col-sm-6
              label Bathrooms
              if filter.bathrooms
                input#vertical_filter_widget-2_price_to.form-control(type='text', name='bathrooms', value='#{filter.bathrooms}')
              else
                input#vertical_filter_widget-2_price_to.form-control(type='text', name='bathrooms', value='')
            // /.form-group
          .row
            .form-group.col-sm-6
              label Price from
              if filter.rent && filter.rent.$gt
                input#vertical_filter_widget-2_price_from.form-control(type='text', name='price-from', value='#{filter.rent.$gt}')
              else 
                input#vertical_filter_widget-2_price_from.form-control(type='text', name='price-from', value='')
            // /.form-group
            .form-group.col-sm-6
              label Price to
              if filter.rent && filter.rent.$lt
                input#vertical_filter_widget-2_price_to.form-control(type='text', name='price-to', value='#{filter.rent.$lt}')
              else
                input#vertical_filter_widget-2_price_to.form-control(type='text', name='price-to', value='')
            // /.form-group

          button.btn.btn-lg.btn-block(type='submit') Filter
      // /.widget-content
    // /.widget
  .container
    .row
      .content.col-sm-8.col-md-9
        .row
          for listing in listings
            .col-sm-6.col-md-4
              .property-box
                .property-box-image
                  a(href='/listings/'+'#{listing.id}')
                    img(src=listing.img)
                    span.property-box-excerpt=listing.description
                .property-box-content
                  .property-box-meta
                    .property-box-meta-item
                      span Bathrooms
                      strong=listing.bathrooms
                    // /.property-box-meta-item
                    .property-box-meta-item
                      span Bedrooms
                      strong=listing.bedrooms
                    // /.property-box-meta-item
                    .property-box-meta-item
                      span Garages
                      strong=listing.garages
                    // /.property-box-meta-item
                  // /.property-box-meta
                // /.property-box-content
                .property-box-bottom
                  .property-box-price R #{listing.rent}
                  // /.property-box-price
                  a.property-box-view(href='/listings/'+'#{listing.id}')
                    | View Detail
                  // /.property-box-view
                // /.property-box-bottom
              // /.property-box


                  

          
